// Mixins Here

.flex-center(){
    display:flex;
    justify-content: center;
}

.header-fonts(){
    text-align: center;
    color: @header-font-color;
}

.mix-button(@back, @color){
    background-color: @back;
    color: @color;
    width: 100px;
    border-radius: 5px;
    height: 25px;
    font-size: 1.5rem;
}