// Navigation code here

*{
    // border: 1px solid blue !important;
}

.top-nav{
    background-color: @nav-bg;
    border: 1px solid   @nav-border;
    width: 100%;
    height: 50px;
    h1{
        font-size: 3rem;
        // Set up mixins for header fonts here
    }
    
}